<div class="whoami">
  <h1>whoami</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="profile-blurb">
          I am an Full Stack Developer with nearly 10 years of professional experience who has a passion for continuous
          learning
          and improvement. I've played various roles from individual contributor, team lead, and even project manager. I
          take
          pride in my work and the product that gets put out. I strive to provide the client/end-user exactly what they
          need
          to
          solve their problems.
        </p>
      </div>
      <div class="col">
        <app-card title="TEST" path="../../../assets/images/icon1.svg"></app-card>
      </div>
    </div>
  </div>

</div>
