h1 {
  text-align: center;
  margin-bottom: 50px;
}

.profile-blurb {
  font-size: 1.2rem;
  line-height: 1.8;
}

.nv-whoami {
  min-height: 100vh; /* Ensures at least viewport height */
  position: relative;
  padding-top: 6rem;
}

fa-icon {
  color: #55555a;
}
