<section class="p-3 p-lg-5 d-flex flex-column" id="whoami">
  <div class="container nv-whoami my-auto">
    <div class="content">
      <div class="title">
        <h1>whoami</h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 d-none d-lg-block">
          <fa-icon [icon]="faCode" size="8x"></fa-icon>
        </div>
        <div class="col-lg-6 col-md-10">
          <p class="profile-blurb">
            I am an Full Stack Developer with nearly a decade of professional experience and have a passion for
            continuous
            learning and improvement. I've played various roles from individual contributor, team lead, and even project
            manager. I take pride in my work and the product that gets put out. I strive to provide the client/end-user
            exactly what they need to solve their problems. In my spare time I work to keep up to date with the latest
            frameworks and software development trends.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- </section> -->