h1 {
  text-align: center;
  margin-bottom: 50px;
  // margin-top: 9rem;
}

h1 .profile-blurb {
  font-size: 1.2rem;
  line-height: 1.8;
  align-content: baseline;
}

.whoami {
  padding-top: 13rem;
  padding-bottom: 8rem;
}
