.card {
  display: flex;
  align-items: center;
  width: 25vw;
  max-width: 225px;
  height: 120px;
  padding: 20px 10px 20px 7px;
  background: #1a1a1a;
  border-radius: 24px;
  color: #e7f6ff;
  border-color: #e7f6ff;
  border-width: 4px;
  margin: 5px;
}

.card-name {
  font-size: 1.2rem;
}

img {
  filter: invert(1);
}
