.navbar-dark {
  background-color: rgba(40, 40, 40, 0.95);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-item {
  position: relative;
  &:hover {
    &:before {
      transform: scaleX(1);
      left: 0;
      right: 0;
      transition: all ease-in-out 0.3s;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: #e7f6ff;
  }
}

.collapse {
  transition: all 0.3s ease-in-out; /* Adjust the duration and easing function */
}
