h1 {
  text-align: center;
  margin-bottom: 50px;
}

.contact {
  padding-top: 7rem;
  padding-bottom: 6rem;
}

fa-icon {
  padding: 8px;
}

.contact-icon {
  color: #e7f6ff;
}

fa-icon:hover {
  color: #e7f6ff;
  font-size: 1.2em;
  transition: 0.2s ease-out;
}
