<div class="contact" id="contact">
  <h1>contact</h1>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-auto">
        <a class="contact-icon" href="https://github.com/nvitulli71" target="_blank">
          <fa-icon [icon]="faGithub" size="2x"></fa-icon>
        </a>
        <a class="contact-icon" href="https://www.linkedin.com/in/nick-vitulli/" target="_blank">
          <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        </a>
        <a class="contact-icon" href="mailto:nick@nickvitulli.dev">
          <fa-icon [icon]="faEnvelop" size="2x"></fa-icon>
        </a>


      </div>
    </div>
  </div>
</div>