h1 {
  text-align: center;
  margin-bottom: 50px;
}

.contact {
  position: relative;
  height: 50vh;
  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}

fa-icon {
  padding: 8px;
}

.contact-icon {
  color: #55555a;
}

fa-icon:hover {
  color: #e7f6ff;
  transition: 0.2s ease-out;
}
