h1,
h4 {
  text-align: center;
  margin-bottom: 50px;
}

.interpersonal-skills {
  padding-top: 4rem;
}

.nv-skills {
  min-height: 100vh; /* Ensures at least viewport height */
  position: relative;
  padding-top: 6rem;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

fa-icon {
  color: #55555a;
}
