.heading {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    size-adjust: 100%;
    height: 125px;
  }
  text-align: center;
  // padding-top: 10px;
}

app-typewriter {
  color: #e7f6ff;
}

.first-section {
  height: 100vh;
  width: 100wh;
  background: #1a1a1a;
}

.heading {
  height: auto;
  width: fit-content;
  position: relative;
  align-self: center !important;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-self: center;
  margin-top: 20vh;
}

#learn-more-button {
  display: block;
  margin: auto;
  width: 130px;
}
