/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Urbanist";
  src: url(./assets/fonts/Urbanist-Regular.ttf) format("truetype");
}

html {
  font-family: "Urbanist";
  background: #1a1a1a;
  background-size: 100vw auto;
  background-repeat: no-repeat;
  width: 100vw;
  color: #e7f6ff;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
